MONGODB_URL=YourConnectionString
# Example Connection String:-  
# mongodb://127.0.0.1:27017/rest-api-nodejs-mongodb
# mongodb://[MongodbHost]:[PORT]/[DatabaseName]

JWT_SECRET=YourSecret
# Example Secret:-  abcdefghijklmnopqrstuvwxyz1234567890

JWT_TIMEOUT_DURATION="2 hours"
# You can place duration available here: https://github.com/auth0/node-jsonwebtoken#usage
# Search for "expiresIn" option on above link.
